.main {
  text-align:center;
}
body {
  background-color: black;
}
.legend {
  text-align: center;
  background-color: white;
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.start {
  background-color: red;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1%;
}
.right {
 font-size: 20px;
}
.score {
  background-color: red;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1%;
}
#score {
  margin-top: -5%;
}
